/*
 * =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
 * 				Container
 * =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
 */

.button-menu
{
	-fx-background-color: rgb(224, 224, 224);
} 

 
/*
 * =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
 * 				Titled Pane
 * =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
 */
 
.titled-pane
{
	-fx-text-fill: white;
}


.titled-pane .title
{
	-fx-color: rgb(80, 80, 255);
}


/*
 * =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
 * 			Tab Pane
 * =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
 */
 
.tab:selected
{
	-fx-background-color: rgb(80, 80, 255);
	-fx-font-weight: bold;
}


.tab:selected .tab-label
{
	-fx-text-fill: white;	
}


/*
 * =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
 * 				Button
 * =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
 */
 
.btn
{
	-fx-background-color: transparent;
	-fx-text-fill: white;
	-fx-border-width: 1px;
	-fx-border-radius: 4px;	
}


.btn-primary
{
	-fx-background-color: rgb(80, 80, 255);
	-fx-border-color: rgb(60, 60, 192);
}


.btn-primary:hover
{
	-fx-background-color: rgb(120, 120, 255);
}


.btn-primary:pressed,
.btn-primary:active,
.btn-primary:selected
{
	-fx-background-color: rgb(60, 60, 192);
}


.btn-secondary
{
	-fx-background-color: rgb(160, 160, 160);
	-fx-border-color: rgb(80, 80, 80);
}


.btn-secondary:hover
{
	-fx-background-color: rgb(192, 192, 192);
}


.btn-secondary:pressed,
.btn-secondary:active,
.btn-secondary:selected
{
	-fx-background-color: rgb(80, 80, 80);
}

 
.btn-remove
{
	-fx-background-color: rgb(255, 80, 80);
	-fx-border-color: rgb(192, 0, 0);
}


.btn-remove:hover
{
	-fx-background-color: rgb(255, 40, 40);
}


.btn-remove:pressed
{
	-fx-background-color: rgb(192, 0, 0);	
	-fx-border-color: rgb(255, 20, 20);
}


.btn-cell-remove
{
	-fx-text-fill: red;
	-fx-font-weight: bold;
}



/*
 * =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
 * 				Toggle Buttons
 * =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
 */

.toggle-button
{
	-fx-text-fill: white;
	-fx-border-radius: 0;
	-fx-border-width: 2px;
}


.toggle-button:selected
{
	-fx-font-weight: bold;
}


/*
 * =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
 * 				Text Field
 * =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
 */

.text-field.error
{
	-fx-border-color: red;
}


/*
 * =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
 * 				Label
 * =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
 */
 
.label.error
{
	-fx-text-fill: red;
}


/*
 * =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
 * 			List View
 * =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
 */
 
.list-cell.dragged
{
	-fx-opacity: 0.3;
	-fx-background-color: dodgerblue;
}


.list-cell.error
{
	-fx-background-color: rgb(255, 128, 128);
}


/*
 * =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
 * 				Combo Box
 * =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
 */
 
.cb-primary
{
	-fx-color: rgb(80, 80, 255);
	-fx-text-fill: white;
}


.cb-primary .arrow-button
{
	-fx-color: white;
}


.cb-primary .arrow
{
	-fx-background-color: white;
}


/*
 * =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
 * 				Check Box
 * =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
 */
 
.check-box
{
	-fx-color: rgb(80, 80, 255);
}


.check-box:hover .box
{
	-fx-color: rgb(120, 120, 255);
}


.check-box:selected .mark
{
	-fx-background-color: rgb(120, 255, 120);
}